.container {
  background-image: url("logo_couleur.png");
  background-size: cover;
}

.photos-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(242, 242, 242, 0.9);
  box-shadow: 4px 4px 9px #cecdcd;
  border-radius: 4px;
  padding: 16px 8px;
  height: 400px;



  img {
    margin-right: 12px;
    border-radius: 4px;
    transition: 0.3 ease-in-out;
    transform: scale(1);

      &:hover {
          transform: scale(1.03);
          transition: 0.3 ease-in-out;
        }
  }
}
