.container {
  background-image: url("logo_couleur.png");
  background-size: cover;
}

.photos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.9);
  box-shadow: 4px 4px 9px #cecdcd;
  border-radius: 4px;
  padding: 16px 8px;
  height: 450px;

  .pic-container {
    position: relative;
    width: 400px;
  }

  .text-hover {
    width: 100%;
    padding: 60px;
    background-color: #F2F2F2;
    border-radius: 4px;
    position: absolute;
    top: 256px;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: 500ms ease-in-out;
  }

  img {
    height: 400px;
    border-radius: 4px;


      &:hover + .text-hover {
            opacity: 0.7;
            transition: 500ms ease-in-out;
        }
  }
}
