<div class="welcome" data-controller="animate-logo">
  <%= link_to association_path, class:"wiggle", data: { :'animate-logo-target' => 'link', action: "click->animate-logo#animation" } do %>
    <%= image_tag("logo_couleur.png", class: "static-logo", data: { :'animate-logo-target' => "logo", action: "click->animate-logo#animation" }) %>
  <% end %>
</div>
