.footer {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.footer img {
  height: 80px;
}
