.navbar {
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar img {
  height: 50px;
}

.nav-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0px;
}

.nav-link {
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #FF6900;
  color: black;
  transition: 0.3s ease-in-out;

  &:hover {
    color: #FF6900;
    background-color:black;
  }
}
